html, body {
    overflow: hidden !important;
    height: 100%;
    user-select: none;
}

#app {
    outline: none;
    background-color: #FFFAE8;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    height: 100vh;
}

#app.full {
    margin: 0 !important;
}